
    .ratings {
      display: flex;
      justify-content: flex-start;
    }

    .star {
      cursor: pointer;
      font-size: 24px; /* Adjust the size as needed */
    }

    .star.selected {
      color: gold; /* Or any other color you prefer for selected stars */
    }
  
