
h1 {
    /* margin: auto; */
    text-align: center;
}

.spots-container {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin: auto;
    width: 1024px;
    margin: auto;

}


.spot {
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    color: red;
    flex:0 0 24%;
    padding: 5px;
   
}