a:visited {
    text-decoration: none;
}

.main-spot-container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2 1fr);
    margin: auto;
    max-width: 1024px;
   
    grid-template-areas: 
    'header'
    'body'
    ;

}

.spots-header {
    /* margin: auto; */
    text-align: center;

}

.spot-details-link {
    text-decoration: none;
    /* width: 246px */
}

.spots-container {
    grid-area: body;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin: auto;
    width: 1024px;
    margin: auto;

}
.images{
    box-sizing: border-box;
    flex: 0 0 calc(50% - 10px);
    padding: 5px 5px 5px 0px;
    margin: 0px;
    
}

.image{
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
 
}

.spot {
    
    box-sizing: border-box;
    flex: 0 0 calc(25% - 10px);
    padding: 5px 5px 5px 0px;
    margin: 0px;
}

#spots-tags {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "city-state rating"
    " price ."
    ;
    padding: 5px;
}

#spots-city-state{
    grid-area: city-state;
    text-align: left;
}

#spots-star-rating {
    grid-area: rating;
    text-align: right;
}

#spots-price {
    grid-area: price;
    text-align: left;
}

.spots-image {
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}

.spots-name{
    margin-left: 5px;
    margin-bottom: 10px;
}

.manage-spot-header {
    grid-area: header;
    display: inline-block;
    justify-self: start;
    width: 400px;
   
    margin-bottom: 30px;
}

