.nav-bar {
    display: flex;
    width: 1200px;
    color: red;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 5px;
}

.nav-bar a,
ul {
    text-decoration: none;
    list-style: none;
}


.nav-bar ul {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    float: right;

}


.nav-ul {
    display: grid;
    border: 1px solid black;
    border-radius: 30px;
    grid-template-columns: 1fr, 2fr;
    grid-template-areas:
        'home profile'
        'login profile-dropdown'
        'signup profile-dropdown';
    padding-right: 10px;
}

.nav-right { 
    display: flex;
    align-items: center;
}

.nav-create-spot-link {
    margin-right: 30px; 
}
/* when no user is logged in */
.home {
    grid-area: home;
    margin-bottom: 5px;
    text-align: center;
}

/* when user is logged in */
.user-home {
    grid-area: home;
    line-height: 37px;
    text-align: right;
}

.login {
    grid-area: login;
    margin-bottom: 5px;
    text-align: center;
}

.signup {
    grid-area: signup;
    margin-bottom: 5px;
    text-align: center;
}

.profile {
    display: flex;
    grid-area: profile;
    flex-direction: column;
    justify-content: flex-start;
}


.nav-ul li {

    padding-left: 10px;
}

.hidden {
    display: none;
}

.profile-btn {
    border: none;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    padding: 2px;
    background-color: blue;

}

.profile-icon {
    color: white;
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.logout-btn {
    margin-top: 5px;
}


.logo {
    float: left;
}
@media screen and (max-width: 1024px) and (min-width: 769px) { 
  
  
    .nav-bar {
      width: 90%; /* Or another suitable width */
    }
  
  
  }

/* Tablet styles */
@media screen and (max-width: 768px) {
    .nav-bar {
      width: 100%; 
      padding: 3px; 
    }
  
    .nav-ul {
      grid-template-columns: 1fr; 
      grid-template-areas: 
        'home'
        'login'
        'signup'
        'profile-dropdown'; 
    }
  
    .nav-create-spot-link {
      margin-right: 30px; 
    }
  }
  
  /* Mobile styles */
  @media screen and (max-width: 480px) {
    .nav-bar {
      padding: 2px; 
      min-width: 300px;
    }
  
    .nav-ul li {
      padding-left: 5px; 
    }
  
    .profile-btn {
      width: 30px;  
      height: 30px;
    }
  
    .profile-icon {
      font-size: 25px; 
    }
  
    .nav-create-spot-link {
      margin-right: 20px; 
    }
  }