


.login-form-heading {
    margin: 10px auto 0px auto;
    text-align: center;
}

.login-form {

    border-radius: 5px;
    flex-direction: column;;
    display: flex;
    padding: 10px;
    width: 270px;
    margin: auto;
}

.login-form label {  
    margin-bottom: 5px;
    margin-left: 0;
    color: black;
}


.login-form input {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px auto 0px auto;
    /* margin-left: auto;
    margin-right: auto; */
    width: 240px;
}


.login-form p {   
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 0px;
    color: #f34646;
    text-align: center;
}


.login-button {
    background-color: #f34646;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    height: 25px;
    width: 246px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 3px gray;
}

.login-button:disabled {
    background-color: transparent;
    color: gray;
}

.demo-button {
    background-color:transparent;
    border: none;
   
    color: blue;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-decoration: underline;

}